PermitRootLogin no
# Port 22
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/libexec/openssh/sftp-server
ClientAliveInterval 15
ClientAliveCountMax 3
UseDNS no
